<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/issueCredentials">
            <label>Provide did</label>
            <input type="text" name="userdid">
            
            <button>IssueCredentials</button>

        </form>
        
       
    </div>
</body>
</html>
<script>

    const form=document.querySelector("form");

    document.addEventListener("submit",async(event)=>
    {
        const authToken="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6ImYzOWZlODg1YTBhMmQ0YjdmYjlmZDM0NTIxOGIyNGNjMWQwZiIsInVzZXJJZCI6ImJ1amppMTIzNGFiY0BnbWFpbC5jb20iLCJncmFudFR5cGUiOiJjbGllbnRfY3JlZGVudGlhbHMiLCJpYXQiOjE2OTEzMjI3MzYsImV4cCI6MTY5MTMzNzEzNn0.DiWDuPPkjhtvAhDjWzDtzg0zs4zHo9Jhb3d4h3RwkdU";

          
        event.preventDefault();
        
        let userdid=form.userdid.value;
        
      
        

        try{
        let response=await fetch("/issueCredentials",{
            "method":"POST",
            "body":JSON.stringify({userdid}),
            "headers":{
                "Content-Type":"application/json",
                "Authorization":"Bearer" + authToken,
            },
            
        });

        const data=await response.json();
        console.log(data);
        if(data)
        {
            location.assign("/download");
            
        }
    }
    catch(err)
    {
        console.log(err.message);
    }
    

       

    })
</script>